:root {
  --primary-color: #068da9;
  --darker-primary: #046376;
  --win-color: #737373ff;
  --secondry-color: #3e3939;
  --darkder-second: #2c2727;
  --light-color: #f6f4f4;
}

body {
  background-color: var(--secondry-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
  color: var(--light-color);
  text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 32px;
  color: var(--darker-primary);
  text-shadow: 0 10px 15px rgb(0, 0, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 5px solid var(--darkder-second);
}

.box {
  background-color: var(--primary-color);
  height: 180px;
  width: 180px;
  border: 1px solid black;
}

.btn {
  background-color: #16476a;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 20px;
  margin: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #fff;
  color: #16476a;
  transform: translateY(-3px);
}

span {
  color: aliceblue;
  font-size: 70px;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
