@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(166, 100, 223);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

h1 {
  color: #333;
  margin-bottom: 40px;
}

p {
  font-size: 24px;
  margin: 20px 0;
}

textarea {
  width: 300px;
  height: 150px;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: inherit;
}

textarea:focus {
  outline: none;
  border: 2px solid #666;
}

.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.choice {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #333;
  border-radius: 5px;
  padding: 5px 10px;
}

.choice.highlight {
  background-color: #fd5865;
  box-shadow: 0 4px 15px rgba(250, 92, 105, 0.4);
  transform: scale(1.1);
  transition: all 0.3s ease;
}
