body{
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	text-align: center;
}
h1{
	background-color:aliceblue
}
h2{
	background-color: aliceblue;
}
h3{
	background-color:blanchedalmond;
	font-weight: 750;
}
p{
	font-size:medium;
}