* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 20px 0;
  color: #333;
  border-bottom: 2px solid #ccc;
}

textarea {
  margin: 20px 0;
  width: 30%;
  height: 20%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
  border: 1px solid #666;
}
