* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../img/MegaKnight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

h1 {
  position: absolute;
  top: 20px;
  font-size: 43px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.8s ease;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #28b487;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 18px;
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
