/* 
  Start Simple Pomodoro Timer Styles then expand later
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container-timer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 100px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#timer {
  font-size: 10rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 10px;
}

.btn {
  font-size: 1.5rem;
  border: none;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  transition: 0.3s ease;
}

.btn:active {
  box-shadow: none;
}
