:root {
  --Main-color: #087f5b;
  --Gray-color: #343a40;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--Gray-color);
}

main {
  background-color: #fff;
  border-radius: 10px;
  scale: calc(1.3);
  width: 600px;
}

.head {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  background-color: #087f5b;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.timer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.time-left {
  background-color: var(--Gray-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

h1 {
  margin: 0;
  padding: 10px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.1s ease;
}

.box:hover {
  background-color: #f2fefa;
}

.box.correct {
  background-color: #d3fcee;
  border: 1px solid var(--Main-color);
}

.box.false {
  background-color: rgb(255, 193, 193);
  border: 1px solid rgb(255, 130, 130);
}

.tail {
  border-top: 1px solid var(--Gray-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

button.next {
  margin: 0;
  padding: 10px 20px;
  background-color: var(--Main-color);
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s ease;
}

button.next:hover {
  background-color: #fff;
  color: var(--Main-color);
  border: 1px solid var(--Main-color);
}

.result {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  padding: 32px 24px;
  margin-top: 32px;
}

.result h2 {
  text-align: center;
  background-color: var(--Main-color);
  color: white;
  font-size: 2.2rem;
  border-radius: 8px;
  padding: 16px 32px;
  margin-bottom: 18px;
  box-shadow: 0 2px 8px rgba(8, 127, 91, 0.12);
}
.result p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--Gray-color);
  margin: 0;
  padding: 8px 0 0 0;
  font-weight: 500;
}

img {
  height: 20px;
  width: 20px;
}

.false-icon {
  margin-right: -1px;
  height: 24px;
  width: 24px;
}
