@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(166, 100, 223);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.btn {
  background-color: rgb(51, 102, 153);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  margin: 15px;
  padding: 15px 30px;
}

.btn:hover {
  opacity: 0.9;
}
.btn:active {
  scale: 0.98;
}
.btn:focus {
  outline: none;
}
