/* Sets the overall font and background for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* Styles for the main heading */
h1 {
    background-color: aliceblue;
}

/* Styles for the subheading */
h2 {
    background-color: aliceblue;
}

/* Styles for section headings */
h3 {
    background-color: blanchedalmond;
    font-weight: 750;
}

/* Sets the font size for paragraphs */
p {
    font-size: medium;
}
