@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.container {
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
}

.faq-item {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-top: 2px solid transparent;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  width: calc(100%);
  position: relative;
  transition: all 0.3s ease;
}

.faq-item::after {
  content: "+";
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.faq-item h2 {
  color: #333;
  font-size: 20px;
}

.faq-item .answer {
  color: #666;
  margin-top: 10px;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.25, 1, 0.3, 1), opacity 0.35s ease;
}

.faq-item.active .answer {
  max-height: 200px;
  opacity: 1;
}

.faq-item.active {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #686de0;
}

.faq-item.active::after {
  transform: rotate(45deg);
}
